@page
@model PrivacyModel
@{
    ViewData["Title"] = "APPLIED SOFTWARE HOUSE";
}




<div class="container  bg-warning">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col12">
            <h4>Applied Accounts</h4>
        </div>
        <div class="col4">
            <p>Applied Accoutn is under development.</p>
        </div>
        <div class="col8">
            <p>CONTACT # +92 336 2454 230</p>
        </div>
    </div>
</div>



<div class="container bg-warning my-3">
    <div class="row">
        <div class="col-12"><h3 class="text-white"> INTERNSHIP</h3></div>
        <div class="col-4">
            Name

        </div>
        <div class="col-8">
            Abdul Moiz Hussain 0313-2065650

        </div>

    </div>
</div>
